
body {
	margin: 0;
	font-family: 'Raleway';
}

header {
	height: 80px;
	color: black;
	position: relative;
}


header nav {
	display: inline-block;
	position: absolute;
	right: 10px;
}

header nav ul {
	display: flex;
	list-style-type: none;
}

header nav ul li {
	font-size: 22px;
	line-height: 50px;
	padding-right: 15px;
}

header nav a {
	text-decoration: none;
	color: black;
}

footer {
	height: 200px;
	background-color: black;
	color: white;
	display: flex;
	align-items: center;
}

.contenido a {
	text-decoration: none;
	color: black;
}

.dp {
	width: 517px;
	font-size: 23px;
	color: white;
	margin: 100px 80px;
	padding: 40px;
	text-align: center;
	display: flex;
	flex-direction: column;
	animation: appear 3s;
}

.dp p {
	animation: appear 7s;
}

.dest {
	text-decoration: none;
}

.dp h1 {
	font-size: 31px;
}
/* poner esto para el responsive en celulares
.dp p {
	font-size: 17px;
}*/

.logo {
	margin-top: 12px;
	margin-left: 10px;
}

.destacado {
	background-color: black;
	background-image: url(relaxer/img/altjbg.jpg);
	background-size: 55%;
	background-position: left bottom;

	background-repeat: no-repeat;
	height: 80vh;
	display: flex;
	justify-content: flex-end;
}

.contenido {
	height: 800px;
	font-size: 40px;
}


.qo {
	width: 60%;
	margin: auto;
	text-align: center;
	border-top: 2px solid grey;
}






/*footer social*/
.social1 {
	height: 100px;
	margin-right: 50px;
	margin-left: 50px; 
	transition: .6s;
}
.social2 {
	height: 120px;
	transition: .6s;
}

.social1:hover {
	height: 72px;
	margin-right: 64px;
	margin-left: 64px;
}
.social2:hover {
	height: 92px;
}

.artc {
	background-color: black;
	height: 287px;
	width: 90%;
	font-size: 15px;
	overflow: hidden;
	margin: auto;
	margin-top: 5px;
	display: flex;
	overflow: hidden;
	-webkit-clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
	clip-path: polygon(6% 0, 100% 0%, 94% 100%, 0% 100%);
	position: relative;
}


.artc article {
	color: white;
	height: 240px;
	width: 280px;
	border: 2px solid white;
	border-radius: 10%;
	text-align: center;
	vertical-align: middle;
	margin: 2px 10px;
	padding: 20px;
	position: absolute;
}

.ra {
	display: inline-block;
	font-weight: 300;
	font-size: 40px;
	margin: 80px 0 10px 10px;
}




#ar1 {
	margin-left: 0px;
	animation: desp 50s  linear infinite;
	transform: translate(-4000px);
}
#ar2 {
	margin-left: 400px;
	animation: desp 50s  linear infinite;
	transform: translate(-4000px);
}
#ar3 {
	margin-left: 800px;
	animation: desp 50s  linear infinite;
	transform: translate(-4000px);
}
#ar4 {
	margin-left: 1200px;
	animation: desp 50s  linear infinite;
	transform: translate(-4000px);
}
#ar5 {
	margin-left: 1600px;
	animation: desp 50s  linear infinite;
	transform: translate(-4000px);
}


#ar01 {
	margin-left: 2000px;
	animation: desp 50s  linear infinite;
	transform: translate(-4000px);
}
#ar02 {
	margin-left:  2400px;
	animation: desp 50s  linear infinite;
	transform: translate(-4000px);
}
#ar03 {
	margin-left: 2800px;
	animation: desp 50s  linear infinite;
	transform: translate(-4000px);
}
#ar04 {
	margin-left: 3200px;
	animation: desp 50s  linear infinite;
	transform: translate(-4000px);
}
#ar05 {
	margin-left: 3600px;
	animation: desp 50s  linear infinite;
	transform: translate(-4000px);
}

#ar11 {
	margin-left: 4000px;
	animation: desp 50s  linear infinite;
	transform: translate(-4000px);
}
#ar12 {
	margin-left:  4400px;
	animation: desp 50s  linear infinite;
	transform: translate(-4000px);
}
#ar13 {
	margin-left: 4800px;
	animation: desp 50s  linear infinite;
	transform: translate(-4000px);
}
#ar14 {
	margin-left: 5200px;
	animation: desp 50s  linear infinite;
	transform: translate(-4000px);
}
#ar15 {
	margin-left: 5600px;
	animation: desp 50s  linear infinite;
	transform: translate(-4000px);
}







.aa {
	-webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
	clip-path: polygon(0 0, 50% 100%, 100% 0);
	background-color: black;
	height: 60px;
	width: 60px;
	padding: 0;
	margin: 0;
	border: 0;
}

.as {
	-webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	background-color: black;
	height: 60px;
	width: 60px;
	padding: 0;
	margin: 0;
	border: 0;

}

.artc: hover{
	transform: scale(.8,.8);
}







button:focus {
	outline: 0;
}



header nav ul li:hover {
	text-decoration: underline;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes desp {
	100% {
		transform: initial;
	}
}