
body {
	margin: 0;
	font-family: 'Raleway';
}

header {
	height: 80px;
	color: black;
	position: relative;
}


header nav {
	display: inline-block;
	position: absolute;
	right: 10px;
}

header nav ul {
	display: flex;
	list-style-type: none;
}

header nav ul li {
	font-size: 22px;
	line-height: 50px;
	padding-right: 15px;
}

header nav a {
	text-decoration: none;
	color: black;
}

footer {
	height: 200px;
	background-color: black;
	color: white;
	display: flex;
	align-items: center;
}

.dp {
	width: 517px;
	font-size: 23px;
	color: white;
	margin: 100px 80px;
	padding: 40px;
	text-align: center;
	display: flex;
	flex-direction: column;
	animation: appear 3s;
}

.dp p {
	animation: appear 7s;
}

.dest {
	text-decoration: none;
}

.dp h1 {
	font-size: 31px;
}
/* poner esto para el responsive en celulares
.dp p {
	font-size: 17px;
}*/

.logo {
	margin-top: 12px;
	margin-left: 10px;
}

.destacado {
	background-color: black;
	background-image: url(relaxer/img/altjbg.jpg);
	background-size: 55%;
	background-position: left bottom;

	background-repeat: no-repeat;
	height: 80vh;
	display: flex;
	justify-content: flex-end;
}

.contenido {
	height: 800px;
	font-size: 40px;
}


.qo {
	width: 60%;
	margin: auto;
	text-align: center;
	border-top: 2px solid grey;
}






/*footer social*/
.social1 {
	height: 100px;
	margin-right: 50px;
	margin-left: 50px; 
	transition: .6s;
}
.social2 {
	height: 120px;
	transition: .6s;
}

.social1:hover {
	height: 72px;
	margin-right: 64px;
	margin-left: 64px;
}
.social2:hover {
	height: 92px;
}




header nav ul li:hover {
	text-decoration: underline;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}