body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Raleway';
}

header {
  margin: 0;
  padding: 0;
  height: calc(80vw * 9 / 16 + 5px);
}



.fullscreen-bg {
    width: 100%;
    overflow: hidden;
    z-index: -100;
    background-color: black;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    height: calc(80vw * 9 / 16 + 5px);


}

.fullscreen-bg__video {
    width: 80vw;

}

.title {
  font-size: 2.3vw;
  z-index: 100;
  position: relative;
  text-align: center;
  color: white;
  font-family: 'Raleway';
  padding-top: calc((80vw * 9 / 16 + 5px)/3.46) ;
  
}


.logo {
  margin-top: 20px;
  margin-left: 10px;
}


.title h1 {
  font-weight: 300;
   animation: appear 6s;
  
}

.title h2 {
  font-weight: 300;
   animation: appear 3s;

}

.title span{
   animation: appear 11s;
}

.content {
  font-size: 24px;
  text-align: center;
  width: 60%;
  margin: auto;
  margin-top: 60px;
  font-family: 'Raleway';
  font-weight: 600;
  margin-bottom: 100px;
}


.autor {
  width: 60%;
  margin: auto;
  font-size: 20px;
  border-top: 2px solid grey;
}

.autor article {
  margin: 10px 0px;
}

.autor article p{
  font-size: 15px;
}

.autor article img{
  border-radius: 50%;
  margin-right: 10px;
}

footer {
  height: 200px;
}


@keyframes appear {
  0% {
    color: black;
  }
  100% {
    color: white;
  }
}