body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Raleway';
}

header {
  margin: 0;
  padding: 0;
  height: calc(80vw * 9 / 16 + 5px);
}


.hdr {
  height: 80px;
  color: black;
  position: relative;
}


.hdr nav {
  display: inline-block;
  position: absolute;
  right: 10px;
}

.hdr nav ul {
  display: flex;
  list-style-type: none;
}

.hdr nav ul li {
  font-size: 22px;
  line-height: 40px;
  padding-right: 15px;
}

.hdr nav a {
  text-decoration: none;
  color: black;
}


.fullscreen-bg {
  background-color: black;
  width: 100%;
  overflow: hidden;
  z-index: -100;
  background-color: black;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  height: calc(80vw * 9 / 16 + 5px);


}

.fullscreen-bg__video {
    width: 80vw;

}

.title {
  font-size: 2.3vw;
  z-index: 100;
  position: relative;
  text-align: center;
  color: white;
  font-family: 'Raleway';
  padding-top: calc((80vw * 9 / 16 + 5px)/3.46) ;
  
}


.logo {
  margin-top: 20px;
  margin-left: 10px;
  animation: appear 3s;
}


.title h1 {
  font-weight: 300;
  animation: appear 6s;
  
}

.title h2 {
  font-weight: 300;
  animation: appear 3s;

}

.title span{
  animation: appearr 4s infinite;
}

.content {
  font-size: 22px;
  text-align: center;
  width: 70%;
  margin: auto;
  margin-top: 60px;
  font-family: 'Raleway';
  font-weight: 600;
  margin-bottom: 100px;
}



.autor {
  width: 60%;
  margin: auto;
  font-size: 20px;
  border-top: 2px solid grey;
  margin-bottom: 60px;
}

.autor article {
  margin: 10px 0px;
}

.autor article p{
  font-size: 15px;
}

.autor article img{
  border-radius: 50%;
  margin-right: 10px;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 20px 5px;
}

footer a {
  color: white;
  text-decoration: none;
}


footer div {
  margin: 0;
  width: 250px;
}

/*footer social*/

.social {
  height: 120px;
  display: flex;
  justify-content: space-between;

}

.social1 {
  margin-top: 5px;
  height: 100px;

}
.social2 {
  height: 120px;
}

.equipo{
  text-align: center;
}

.equipo img {
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.contacto a {
  font-size: 21px;
}





.hdr nav ul li:hover {
  text-decoration: underline;
}




.versiones {
  width: 65%;
  margin: 100px auto;

}

.au{
  background-size: cover;
  width: 150px;
  height: 150px;
  padding: 0;
  margin: 0;
  border: 0;
}


.guillermo {
  background-image: url(img/guillermo.jpg);
  margin-right: 26px;
  transition: 0.8s ease;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);


}

.roberto {
  background-image: url(img/roberto.jpeg);
  margin-left: 26px;
  transition: 0.8s ease;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.guillermo:hover {
  clip-path: polygon(50% 0, 50% 0, 100% 100%, 0% 100%);

}
.roberto:hover {
  clip-path: polygon(50% 0, 50% 0, 100% 100%, 0% 100%);
}

.linkex{
  color: black;
}

.G1 div, .R1 div{
  height: 20px;
}



.esconder {
  display: none;
}
.espaciador {
  height: 240px;
}


button:hover {
  
}


button:focus {
  outline: 0;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appearr {
  0% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}