/*body {
  margin: 0;
  background: #000; 
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}

#polina { 
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 33%;
  margin:2rem;
  float: right;
  font-size: 1.2rem;
}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}
#polina button { 
  display: block;
  width: 80%;
  padding: .4rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  transition: .3s background;
}
#polina button:hover { 
   background: rgba(0,0,0,0.5);
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  transition: .6s background; 
}
a:hover{
  background:rgba(0,0,0,0.9);
}
@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  html { background: url(https://thenewcode.com/assets/images/polina.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}*/




/** { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
  top: 0;
  color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}*/



body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Raleway';
}

header {
  margin: 0;
  padding: 0;
  height: calc(80vw * 9 / 16 + 5px);
}



.fullscreen-bg {
    width: 100%;
    overflow: hidden;
    z-index: -100;
    background-color: black;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    height: calc(80vw * 9 / 16 + 5px);


}

.fullscreen-bg__video {
    width: 80vw;

}

.title {
  font-size: 2.3vw;
  z-index: 100;
  position: relative;
  text-align: center;
  color: white;
  font-family: 'Raleway';
  padding-top: calc((80vw * 9 / 16 + 5px)/3.46) ;
  
}

.di {
  height: 5px;
}


.title h1 {
  font-weight: 300;
   animation: appear 6s;
  
}

.title h2 {
  font-weight: 300;
   animation: appear 3s;

}

.title span{
   animation: appear 11s;
}

.content {
  font-size: 24px;
  text-align: center;
  width: 60%;
  margin: auto;
  margin-top: 100px;
  font-family: 'Raleway';
  font-weight: 600;
  margin-bottom: 100px;
}


.autor {
  width: 60%;
  margin: auto;
  font-size: 20px;
  border-top: 2px solid grey;
}

.autor article {
  margin: 10px 0px;
}

.autor article p{
  font-size: 15px;
}

.autor article img{
  border-radius: 50%;
  margin-right: 10px;
}

footer {
  height: 200px;
}


@keyframes appear {
  0% {
    color: black;
  }
  100% {
    color: white;
  }
}