/*
color letras FF6052*/
/*otro color letras 757575*/



body {
	margin: 0;
	font-family: 'Raleway';
	color: #757575;
}


header {
	height: 80px;
	color: black;
	position: relative;
}


header nav {
	display: inline-block;
	position: absolute;
	right: 10px;
}

header nav ul {
	display: flex;
	list-style-type: none;
}

header nav ul li {
	font-size: 22px;
	line-height: 50px;
	padding-right: 15px;
}

header nav a {
	text-decoration: none;
	color: black;
	font-weight: 300;
}


h1{
	font-family: 'Raleway';
	font-weight: 200;
	font-size: 80px;
	display: flex;
	color: white;
	margin: 0;
}

picture {
	display: flex;
	justify-content: center;
}



.bgt{
	background-image: url(img/bg.jpg);
	background-size: cover;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.logo {
	margin-top: 12px;
	margin-left: 10px;
}



.subt {
	color: black;
	font-family: 'Fira Sans';
}


.t{
	font-family: 'Fira Sans';
	font-size: 40px;
	display: block;
}



.bot {
	border-top: solid black 3px;
	width: 100%;
}



.bot div {
	width: 60%;
	margin: 40px auto;
	font-family: 'Fira Sans';
	font-size: 20px;

}

.container {
	overflow: hidden;
}



/*footer*/

footer {
	background-color: #757575;
	color: white;
	display: flex;
	align-items: center;
	display: flex;
	justify-content: space-around;
	padding: 20px 5px;
}

footer a {
	color: white;
	text-decoration: none;
}


footer div {
	margin: 0;
	width: 250px;
}

/*footer social*/

.social {
	height: 120px;
	display: flex;
	justify-content: space-between;

}

.social1 {
	margin-top: 5px;
	height: 100px;

}
.social2 {
	height: 120px;
}


.equipo{
	text-align: center;
}

.equipo img {
	border-radius: 50%;
	margin-left: 10px;
	margin-right: 10px;
}

header nav ul li:hover {
	text-decoration: underline;
}